@mixin for-phone-only {
  @media (max-width: $phone-only) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: $tablet-portrait-down) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-landscape-up) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $desktop-up) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: $large-desktop-up) { @content; }
}

@mixin margin-x($x) {
  margin-left:  $x;
  margin-right: $x;
}

@mixin margin-y($y) {
  margin-top:    $y;
  margin-bottom: $y;
}

@mixin padding-x($x) {
  padding-left:  $x;
  padding-right: $x;
}

@mixin padding-y($y) {
  padding-top:    $y;
  padding-bottom: $y;
}