
// Colors
$body-backgroung-color: #222222;
$ui-background-color: #363636;
$initiative-tracker-background: #2e2e2e;
$dark-color: #0a0a0a;
$light-color: #f5f5f5;
$danger-color: #6e0b0b;
$normal-border-color: darken(gray, 2.5%);
$elite-color: darken(gold, 5%);

$element-colors: (
  air:   #98b0b5,
  fire:  #e2421f,
  earth: #7da82a,
  ice:   #56c8ef,
  light: #eca610,
  dark:  #607f85
);


// Fonts
$base-font: 'Overlock', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

// Room 
$room-min-width: 824px;

// Titlebar
$titlebar-height: 3rem;

// TopToolbar
$top-toolbar-height: 3rem;

// StickyToolbar
$sticky-toolbar-normal-height: 3rem;
$element-size: $sticky-toolbar-normal-height;
$round-manager-height: $sticky-toolbar-normal-height;
$sticky-toolbar-margin: 2px;
$sticky-toolbar-device-size-factor: 0.75;



$header-height: 4rem;
$header-font-size: $header-height/2;
$padding: $header-height/4;
$icon-height: $header-height/1.6;

// Element Variables
$element-size: 3rem;

// Round Tracker
$round-size: 3rem;

// Initiative Tracker
$initiative-font-size: 1.5rem;
$initiative-item-width: 5rem;
$initiative-tracker-toggle-width: 1.15rem;
$initiative-tracker-width: $initiative-item-width + $initiative-tracker-toggle-width + 2rem;
$initiative-tracker-min-height: $initiative-item-width * 12;

$scrollbar-buffer-width: 2rem;

// Monster Type Variables
$monster-header-add-button-size: 3rem;

// Monster Instance Variables.
$monster-instance-height: 2rem;
$monster-instance-height-device: 2.5rem;
$monster-token-width: 1.5rem;

// Monster Token Variables
$token-min-width: 2rem;

// Status Variables
$status-height: 2rem;

// Breakpoints
$phone-only:           449px;
$tablet-portrait-down: 899px;
$tablet-landscape-up:  900px;
$desktop-up:           1200px;
$large-desktop-up:     1800px;



