.element {
  background-color: $element-background-color;
  margin-left: 4px;
  position: relative;
  display: inline-block;
  width: $element-size;
  height: $element-size;
  transition: box-shadow 0.15s;
  cursor: pointer;

  div {
    position: absolute;
    display: block;
    bottom: 0;
    width: $element-size - 3px;
    max-height: $element-size;
    transition: height 0.4s;
    
  }
  img {
    position: absolute;
    width: $element-size -3px;
    height: $element-size - 2px;
  }

  &:hover {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px 0px 3px 0px rgba(255, 255, 255, 1);
    box-shadow:         0px 0px 3px 0px rgba(255, 255, 255, 1);
  }

  &:active {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px 0px 6px 0px rgba(255, 255, 255, 1);
    box-shadow:         0px 0px 6px 0px rgba(255, 255, 255, 1);
  }
}