.monster-statuses {
  width: 20rem;
  
  div.status-container {
  
    display: flex;
    div.status-toggle {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      opacity: 0.25;
      transition: opacity 0.1s;

      &.active {
        opacity: 1;
      }
      &:hover {
        opacity: 0.9;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}


