


.monster-type {
  padding-bottom: 1rem;
  min-width: $monster-total-width;
  background-color: $ui-background-color;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.monster-type-body {
}

.monster-type-header {
  display: flex;
  justify-content: flex-start;
  height: $header-height;
  width: 100%;
  margin: 0;
  color: $light-color;
}

.monster-name {
  font-size: $header-font-size;
  line-height: $header-font-size;
  padding-top: ($header-height - $header-font-size)/2;
  padding-bottom: ($header-height - $header-font-size)/2;
  overflow: hidden;
  padding-left: 0.5rem;
}

.monster-stats {
  overflow: hidden;
  div.monster-stat {
    padding-left: $padding/4;
    padding-right: $padding/4;
    display: inline-flex;
    img {
      height: $icon-height;
      margin-top: ($header-height - $icon-height)/2
    }
    div {
      margin-top: ($header-height - $header-height/1.25)/2;

      p {
        text-align: center;
        font-size: $header-height/2.5;
        line-height: $header-height/2.5;
        
        &.monster-elite-stat {
          color: gold;
        }
      }
    }
  }
}

.monster-name {
  margin-left: $padding/2;
  margin-right: $padding/2;
}

.monster-type-controls {
  margin-left: auto;
  padding: 1rem;
}

.monster-attributes {
  margin-left: 0.5rem;
  div {
    overflow: hidden;
    height: $header-height/2;
    &.elite-attributes {
      color: gold;
    }
  }  
}

.monster-attribute {
  height: $header-height/2;
  position: relative;
  display: inline-block;

  img {
    height: $header-font-size;
  }
  p {
    height: $header-height/2;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-shadow: 0px 0px 2px #000000, 0px 1px 2px #000000, 1px 0px 2px #000000;
    text-align: center;
    width: 100%;
    font-size: $header-height/3;
  }
}

.text-attribute {
  line-height: $header-height/2
}

