$monster-action-icon-size: $monster-action-font-size + 0.5rem;

.monster-actions {
  border-top:    2px solid darken($ui-background-color, 5%);
  border-bottom: 2px solid darken($ui-background-color, 5%);
  @include padding-y(1rem);
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.monster-action {
  display: flex;
  @include margin-x(0.75rem);
}

.monster-action-icon {
  left: 0;
  width: $monster-action-icon-size;
  height: $monster-action-icon-size;
  object-fit: contain;
}

.monster-action-text {
  display: inline-block;
  font-size: $monster-action-font-size; 
}

.monster-action-icon-with-overlay {
  position: relative;
  width: $monster-action-icon-size;
  height: $monster-action-icon-size;
}

.monster-action-icon-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: $monster-action-icon-size;
  height: $monster-action-icon-size;
  object-fit: contain;
}

.draw-action-button {
  color: $light-color;
  background-color: lighten($ui-background-color, 7.5%); 
  width: 90%;
  padding: 1rem;
  @include margin-x(auto);
  border: 0;
  border-radius: 4px;

  font-size: $monster-action-font-size;

  &:hover {
    background-color: lighten($ui-background-color, 5%); 
  }
}