
$font-size: 1.25rem;
$action-icon-size: 1.25 * $font-size;

.monster-actions {
  border-top:    2px solid darken($ui-background-color, 5%);
  border-bottom: 2px solid darken($ui-background-color, 5%);
  @include padding-y(1rem);
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.monster-action {
  display: flex;
  @include margin-x(0.75rem);
}

.monster-action-icon {
  bottom: 0;
  display: inline-block;
  width: $font-size + 0.5rem;
  height: $font-size + 0.5rem;
  object-fit: contain;
  @include margin-x(0.5rem);
}

.monster-action-text {
  display: inline-block;
  font-size: $font-size;
  
}

.draw-action-button {
  color: $light-color;
  background-color: lighten($ui-background-color, 7.5%); 
  width: 90%;
  padding: 1rem;
  @include margin-x(auto);
  border: 0;
  border-radius: 4px;

  font-size: $font-size;

  &:hover {
    background-color: lighten($ui-background-color, 5%); 
  }
}