$monster-total-width: 470px;


.monster-type {
  padding-bottom: 1rem;
  min-width: $monster-total-width;
  background-color: #363636;
  border-radius: 4px;
}

.monster-type-body {
}

.monster-type-header {
  display: flex;
  justify-content: flex-start;
  height: $header-height;
  width: 100%;
  margin: 0;
  color: #f5f5f5;
}

.monster-name {
  font-size: $header-font-size;
  line-height: $header-font-size;
  padding: ($header-height - $header-font-size)/2
}

.monster-stats {
  div.monster-stat {
    padding-left: $padding/4;
    padding-right: $padding/4;
    display: inline-flex;
    img {
      height: $icon-height;
      margin-top: ($header-height - $icon-height)/2
    }
    div {
      margin-top: ($header-height - $header-height/1.25)/2;

      p {
        text-align: center;
        font-size: $header-height/2.5;
        line-height: $header-height/2.5;
        
        &.monster-elite-stat {
          color: gold;
        }
      }
    }
  }
}

.monster-name {
  margin-left: $padding/2;
  margin-right: $padding/2;
}

.monster-type-controls {
  margin-left: auto;
  padding: 1rem;
}

.monster-attributes {
  .elite-attributes {
    color: gold;
  }

  img {
    height: $header-font-size;
  }
}

