.room-topbar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: $topbar-height;
  padding: 1rem;
  z-index: 56;
  background-color: $dark-color;
}

.topbar-item {
  display: flex;
  justify-content: space-between;
  div {
    margin-right: 0.5rem;
  }
}

.room-hash {
  padding: 6px;
  min-width: 130px;
}