.room-content {
  padding-top: $topbar-height;
  padding-right: 1rem;
}

// Add margins for initiative tracker 
@include for-phone-only {
  .room-content {
    padding-bottom: $initiative-tracker-width !important;
  }
}

@include for-tablet-portrait-down {
  .room-content {
    padding-bottom: $initiative-tracker-width !important;
  }
}

@include for-tablet-landscape-up {
  .room-content {
    margin-right: $initiative-tracker-width !important;
  }
}