.add-monster-widget {
  display: flex;
  height: $add-monster-height;
  border-radius: 4px;
  

  * {
    font-size: $add-monster-height/2;
  }
}

.monster-select {
  height: $add-monster-height;
}

.elite-toggle {
  position: relative;
  position: block;
  background-color: $normal-border-color;
  border: 0;
  height: $add-monster-height;
  color: $light-color;
  cursor: pointer;

  &.elite {
    background-color: darken($elite-color, 5%);

    .elite-toggle-fill {
      left: auto;
      right: 0;
      
    }
    .toggle-text {
      color: $elite-color;
    }
  }

}

.elite-toggle-fill {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  color: $light-color;
  height: $add-monster-height;
  background-color: $ui-background-color;
  width: 80%;
  line-height: $add-monster-height;
  text-align: center;
  @include padding-x(0.5rem);


  transition: left 0.2s, right 0.2s;
  &:hover {
    background-color: darken($ui-background-color, 5%);
  }
}

.toggle-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: $add-monster-height;
  text-align: center;
  width: 100%;
}

.add-monster-button {
  
  position: relative;
  display: inline-block;
  color: $light-color;
  background-color: $ui-background-color;
  border: 0;
  height: 100%;
  white-space: nowrap;
  @include padding-x(0.5rem);

  &:hover {
    background-color: darken($ui-background-color, 3.5%);
  }
}