.connection-monitor {
  display: block;
  width: $titlebar-height/3;
  height: $titlebar-height/3;
  min-width: $titlebar-height/3;
  border-radius: 100%;
  margin-top: $titlebar-height/3;
  
  &.open {
    background-color: green;
  }
  &.pending {
    background-color: gold;
  }
  &.closed {
    background-color: red;
  }
}