.element {
  background-color: $dark-color;
  margin-left: 2px;
  position: relative;
  display: inline-block;
  width: $element-size;
  height: $element-size;
  transition: box-shadow 0.15s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}

.element-bar {
  position: absolute;
  display: block;
  bottom: 0;
  width: $element-size;
  max-height: $element-size;
  transition: height 0.6s;
}

.element-image {
  position: relative;
  height: 100%;
}

@each $element, $color in $element-colors {
  .element.#{$element} {
    border: 2px solid darken($color, 15%);

    &:hover {
      -webkit-box-shadow: 0px 0px 2px 1px $color;
      -moz-box-shadow:    0px 0px 2px 1px $color;
      box-shadow:         0px 0px 2px 1px $color;
    }
  
    &:active {
      -webkit-box-shadow: 0px 0px 6px 1px $color;
      -moz-box-shadow:    0px 0px 6px 1px $color;
      box-shadow:         0px 0px 6px 1px $color;
    }

    .element-bar {
      background-color: $color;

      &.strength-0 {
        height: 7.5%;
      }

      &.strength-1 {
        height: 50%;
      }

      &.strength-2 {
        height: 100%;
      }
    }
  }
}

@include for-phone-only {
  $factor: 0.75;
  .element {
    width:  $factor * $element-size;
    height: $factor * $element-size;
  }
  
  .element-bar {
    width:  $factor * $element-size;
    max-height: $factor * $element-size;
  }
}