.titlebar {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 57;
  background-color: $dark-color;
  @include padding-x(0.5rem);
  height: $titlebar-height;
}

.titlebar-contents {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.titlebar-title {
  color: $light-color;
  font-size: $titlebar-height/1.5;
  line-height: $titlebar-height;
  &:hover {
    color: darken($light-color, 10%);
  }
}

.room-hash {
  @include margin-x(1rem);
  font-size: $titlebar-height/2.5;
  line-height: $titlebar-height;
  color: $light-color;
}


