.connection-monitor {
  display: block;
  min-width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin-top: 0.5rem;
  
  &.open {
    background-color: green;
  }
  &.pending {
    background-color: gold;
  }
  &.closed {
    background-color: red;
  }
}